Title:<%= @sub.title %>
<br>
Description:<%= @sub.description %>



  
<h2>All Posts</h2>
<% @sub.posts.each do |post|%>

Title:<%= post.title %>
URL:<%= post.url %>
Content:<%= post.content %>
<br>
<% end %>

<a href="<%= new_post_url %>">Make New Post</a>



